Source: rust-rustls
Section: rust
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-rust,
 ca-certificates <!nocheck>,
 librust-asn1-dev,
 librust-base64-dev,
 librust-brotli-decompressor-dev,
 librust-brotli-dev,
 librust-clap-dev,
 librust-env-logger-dev,
 librust-hashbrown-dev,
 librust-hex-dev,
 librust-log-dev,
 librust-macro-rules-attribute-dev,
 librust-mio-dev,
 librust-num-bigint-dev,
 librust-once-cell-dev,
 librust-openssl-dev,
 librust-rcgen-dev,
 librust-regex-dev,
 librust-ring-dev,
 librust-rustls-native-certs-dev,
 librust-rustls-pki-types-dev,
 librust-rustls-webpki-dev,
 librust-serde-dev,
 librust-serde-json-dev,
 librust-subtle-dev,
 librust-tikv-jemallocator-dev,
 librust-time-dev,
 librust-tokio-dev,
 librust-x509-parser-dev,
 librust-zeroize-dev,
 librust-zlib-rs-0.6-dev,
Maintainer: Jonas Smedegaard <dr@jones.dk>
Standards-Version: 4.7.4
Vcs-Git: https://salsa.debian.org/debian/rust-rustls.git
Vcs-Browser: https://salsa.debian.org/debian/rust-rustls
Homepage: https://github.com/rustls/rustls

Package: librust-rustls-dev
Architecture: all
#Multi-Arch: foreign
Depends:
 librust-brotli-decompressor-dev,
 librust-brotli-dev,
 librust-hashbrown-dev,
 librust-log-dev,
 librust-once-cell-dev,
 librust-ring-dev,
 librust-rustls-pki-types-dev,
 librust-rustls-webpki-dev,
 librust-subtle-dev,
 librust-zeroize-dev,
 librust-zlib-rs-0.6-dev,
 ${misc:Depends},
Provides:
 librust-rustls-0.23+brotli-dev (= ${binary:Version}),
 librust-rustls-0.23+custom-provider-dev (= ${binary:Version}),
# librust-rustls-0.23+default-dev (= ${binary:Version}),
 librust-rustls-0.23+hashbrown-dev (= ${binary:Version}),
 librust-rustls-0.23+logging-dev (= ${binary:Version}),
 librust-rustls-0.23+ring-dev (= ${binary:Version}),
 librust-rustls-0.23+std-dev (= ${binary:Version}),
 librust-rustls-0.23+tls12-dev (= ${binary:Version}),
 librust-rustls-0.23+zlib-dev (= ${binary:Version}),
 librust-rustls-0.23-dev (= ${binary:Version}),
 librust-rustls-0.23.40-dev (= ${binary:Version}),
Description: modern TLS library written in Rust - Rust source code
 Rustls is a modern TLS library written in Rust.
 It uses ring for cryptography
 and webpki for certificate verification.
 .
 Ring is a Rust library implementing safe, fast, small crypto
 using Rust with BoringSSL's cryptography primitives.
 .
 Webpki is a Rust library to validate Web PKI (TLS/SSL) certificates.
 .
 This package contains the source for the Rust rustls crate,
 for use with cargo.
